.banner-img{ //banner imagem principal
    top: 260px;
    margin-top: 64px !important;
    left: 0px;
    width: 100%;
    max-width: 1920px;
    min-width: 428px;
    max-height: 550px;
    min-height: 100px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0 auto;
    
}

.banner-img-mobile{
    display: none;
}


//Body da pagina
.center{ //centralizando itens
    width: 550px; 
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: auto;
    
}
.title-space{
    margin-top:80px;
}
.title-topic{ //estilizando titulos
    width: 356px;
    margin-top: 80px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-39)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-trebuchet-ms);
    letter-spacing: var(--unnamed-character-spacing-0-78);
    color: var(--unnamed-color-389cd6);
    text-align: center;
    font: normal normal bold 39px/50px Trebuchet MS;
    letter-spacing: 0.78px;
    color: #389CD6;
    opacity: 1;
    position: relative;   
}

.container-body{
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: auto;
}

.text-topic{ //estilizando texto
    margin-top: 40px;
    width: 550px;
    height: 251px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-trebuchet-ms);
    letter-spacing: var(--unnamed-character-spacing-0-4);
    text-align: center;
    font: normal normal normal 20px/28px Trebuchet MS;
    letter-spacing: 0.4px;
    color: #7B7070;
    opacity: 1;
    position: relative;
}

.icon-banner{ //banner da pagina
    width: 100%;
    margin-top: 40px;
    max-width: 1132px;
    max-height: 259px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.title-size{ //tamanho da div titulo
    width: 744px;
    margin-top: 80px;
}

.text-topic-down{ //estilizando texto de baixo
    width: 744px;
    height: 151px;
    text-align: center;
    font: normal normal normal 20px/28px Trebuchet MS;
    letter-spacing: 0.4px;
    color: #7B7070;
    opacity: 1;
    position: relative; 
}

.product-margin{ //margin do titulo products
    margin-top: 120px;
    width: 744px;
    
}

.title-size-down{ //tamanho da div titulo de baixo
    width: 744px;
    margin-top: 40px;
}

.keepus-margin{
    margin-top: 240px;
    width: 744px;
}

//BANNER DOWN
.banner-down{ //banner inferior tam da imagem e responsividade
    width: 100%;
    max-width: 1920px;
    max-height: 437px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    /* margin: 80px 0 120px auto; */
    margin: 0 auto;
    
}
.banner-down-mobile{ //banner pra img mobile
    display: none;
}
.img-banner{
    margin-top: 120px;
}
.carousel-item{
    background-color: #389CD6 !important;
    
}

//Button see more
.bt-seemore{ //estilizando button veja mais
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-trebuchet-ms);
    letter-spacing: var(--unnamed-character-spacing-0-4);
    color: var(--white);
    text-align: center;
    font: normal normal bold 20px/28px Trebuchet MS;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-transform: lowercase;
    width: 356px;
    height: 64px;
    background: var(--unnamed-color-389cd6) 0% 0% no-repeat padding-box;
    background: #389CD6 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    border: none;
    margin-bottom: 120px;
}

//SCREEN TABLET
@media only screen and (max-width:1800px) { //Resposividade para telas menores de 1800px
  .keepus-margin{
    margin-top: 10%;
    width: 744px;
  }
}
@media only screen and (max-width:768px) { //Resposividade para telas menores de 768px tablets
    .header-options{
        display: none !important;
    }

    .sidebar{
        display: block;
    }

    #open{
        display: block;
    }

   .sidebar-icon{
        display: block;
   }

    header{
        height: 70px;
    }

   /*  .banner-img{
        display: none;
    } */

    .title-size{
        width: 392px;
        margin-top: 40px;
    }

    .title-topic{
        width: 392px;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-31)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-trebuchet-ms);
        letter-spacing: var(--unnamed-character-spacing-0-62);
        color: var(--unnamed-color-389cd6);
        text-align: center;
        font: normal normal bold 31px/40px Trebuchet MS;
        letter-spacing: 0.62px;
        color: #389CD6;
    }
    .center{
        width: 392px;
    }
    .text-topic{
        margin-top: 32px;
        width: 392px;
        height: 205px;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-trebuchet-ms);
        letter-spacing: var(--unnamed-character-spacing-0-32);
        color: var(--dark-gray);
        text-align: center;
        font: normal normal normal 16px/22px Trebuchet MS;
        letter-spacing: 0.32px; 
        color: #7B7070;
    }
    
    .title-size{
        margin-top: 40px;
        width: 392px;
        height: 116px;
        /* UI Properties */
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-31)/var(--unnamed-line-spacing-40) var(--unnamed-font-family-trebuchet-ms);
        letter-spacing: var(--unnamed-character-spacing-0-62);
        color: var(--unnamed-color-389cd6);
        font: normal normal bold 31px/40px Trebuchet MS;
        letter-spacing: 0.62px;
    }
    .text-topic-down{
        width: 392px;
        height: 167px;
        /* UI Properties */
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-trebuchet-ms);
        letter-spacing: var(--unnamed-character-spacing-0-32);
        color: var(--dark-gray);
        font: normal normal normal 16px/22px Trebuchet MS;
        letter-spacing: 0.32px;
        color: #7B7070;
    }
    .title-size-down{
        width: 392px;
        margin-top: 40px;
    }
    .keepus-margin{
        width: 392px;
    }
    .banner-img{
        display: none;
    }
    
    .banner-img-mobile{
        
        top: 27px;
        margin-top: 14px !important;
        left: 0px;
        width: 100%;
        max-width: 858px;
        max-height: 950px;
        background: transparent 0% 0% no-repeat padding-box;
        opacity: 1;
        margin: 0 auto;
        display: block;
        position: relative;
        background-color: #389CD6;
    }
    .banner-down{
        display: none;
    }
    .banner-down-mobile{
        width: 100%;
        max-width: 856px;
        max-height: 940px;
        display: block;
    }
    .bt-seemore{
      margin-bottom: 80px;
    }

}
//SCRENN MOBILE
@media only screen and (max-width:428px) { //Resposividade para telas menores de 428px mobile
    .banner-img{
        display: none;
        
    }
    
    .banner-img-mobile{
        max-width: 428px;
        max-height: 475px; 
    }
    .banner-down-mobile{
        max-width: 428px;
        max-height: 470px;
    }
}

@media only screen and (max-width:415px) { //Resposividade para telas menores de 415px mobile
    .title-size{
        width: 250px;
        margin-top: 40px;
    }

    .title-topic{
        width: 250px;
        font: normal normal bold 24px/35px Trebuchet MS;
        letter-spacing: 0.42px;
    }
    .center{
        width: 290px;
    }
    .text-topic{
        margin-top: 32px;
        width: 290px;
        height: 205px;
        font: normal normal normal 14px/20px Trebuchet MS;
        letter-spacing: 0.22px; 
        color: #7B7070;
    }
    .text-topic-down{
        width: 290px;
        height: 167px;
        font: normal normal normal 14px/20px Trebuchet MS;
        letter-spacing: 0.22px;
        color: #7B7070;
    }
    .title-size-down{
        width: 290px;
        margin-top: 40px;
    }
    .bt-seemore{
        width: 290px;
    }
}
