
<!-- BANNER DO SITE -->
<div class="banner-img"> 
  <img src="assets\icons\banner-hero.png" class="banner-img">
</div>

<div class="banner-img-mobile">
  <img src="assets\icons\banner-intibiome-02@2x.png" class="banner-img-mobile">
</div>

<!-- CORPO DA PAGINA -->
<section class="container-body">
  <div class="center title-space">
    <span class="title-topic">we’re here to help</span>
  </div>

  <div class="center">
    <p class="text-topic">When it comes to caring for our most intimate areas,
      we’ve lost our connection.
      <br>
      <br>
      Embarrassed, unwilling, or unable to communicate
      with others, we’re needlessly neglecting the parts of our bodies that need
      it most.
      <br>
      <br>
      We’re here to help. Providing you with the expertise, knowledge and
      products you need to feel confident in your personal care.
    </p>
  </div>

  <div class="center icon-banner">
    <img src="assets\icons\icons@2x.png" class="icons-size icon-banner">
  </div>

  <div class="center title-size">
    <span class="title-topic">whatever your age. whatever your lifestyle. whatever your interests.</span>
  </div>

  <div class="center title-size-down">
    <p class="text-topic-down">Co-created with gynaecologists, our revolutionary
      products have been expertly developed to support your intimate microbiome
      and pH balance, and strengthen overall natural health.
      <br>
      <br>
      As the experts in intimate hygiene, we want to bring discussion about intimate
      wellness care out of the dark and demystify the taboos that surround it.
    </p>
  </div>

  <div class="center product-margin">
    <span class="title-topic">our products</span>
  </div>

  <!-- CARDS ICONS -->
  <app-cards-products></app-cards-products>

  <div class="banner-down">
    <img src="assets\icons\Asset 22.png" class="banner-down img-banner">
  </div>

  <div class="banner-down-mobile">
    <img src="assets\icons\banner-intibiome-05@2x.png" class="banner-down-mobile">
  </div>

  <div class="center keepus-margin">
    <span class="title-topic">keep up to date with our discoveries</span>
  </div>

  <!-- CARDS-INFO -->
  <app-cards-discoveries></app-cards-discoveries>

  <div>
    <button class="bt-seemore">see more</button>
  </div>

</section>