<footer>
  <section class="container-footer">
    <!-- FOOTER MENU INFOS BAR -->
    <div class="footer-infos">
      <div class="btn-group">
        <button class="bt-infos-style rem-border contact-bt">contact us</button>
        <button class="bt-infos-style faq-bt">faq</button>
        <button class="bt-infos-style map-bt">site map</button>
        <button class="bt-infos-style privacy-bt">privacy police</button>
        <button class="bt-infos-style cookies-bt">cookies police</button>
        <button class="bt-infos-style rem-border-rg legal-bt">legal notice</button>
      </div>
    </div>
    <!-- FOOTER ICONS -->
    <div class="footer-icons">
      <!-- FOOTER LOGO -->
      <div class="logo-icon">
        <img src="assets\icons\Image 1@2x.png" class="logo-size">
      </div>
      <!-- FOOTER INSTA -->
      <div class="insta-icon">
        <img src="assets\icons\Layer 2@2x.png" class="insta-size">
      </div>
    </div>
  </section>

</footer>