<section class="container-cards-info">
  <!-- CARD -->
  <div class="cards-info">
    <img src="assets\icons\Screen Shot 2021-02-26 at 17.23.47@2x.png" class="card-info-img">

    <div class="card-text">
      <p class="font-card-info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <!-- CARD -->
  <div class="cards-info">
    <img src="assets\icons\Screen Shot 2021-02-26 at 17.23.47-1@2x.png" class="card-info-img">

    <div class="card-text">
      <p class="font-card-info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <!-- CARD -->
  <div class="cards-info">
    <img src="assets\icons\Screen Shot 2021-02-26 at 17.23.47-2@2x.png" class="card-info-img">

    <div class="card-text">
      <p class="font-card-info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</section>

<!-- CARDS MOBILE -->
<div class="slider">
  <!-- CARD -->
  <div class="slide">
    <div class="cards-info">
      <img src="assets\icons\Screen Shot 2021-02-26 at 17.23.47@2x.png" class="card-info-img">

      <div class="card-text">
        <p class="font-card-info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <div class="slide">
      <!-- CARD -->
      <div class="cards-info">
        <img src="assets\icons\Screen Shot 2021-02-26 at 17.23.47-1@2x.png" class="card-info-img">

        <div class="card-text">
          <p class="font-card-info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>

    <div class="slide">
      <div class="cards-info">
        <img src="assets\icons\Screen Shot 2021-02-26 at 17.23.47-2@2x.png" class="card-info-img">

        <div class="card-text">
          <p class="font-card-info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>