<!-- HEADER DO SITE -->
<header>
  <section class="container-header">
    <!-- HAMBURGUER BUTTON MOBILE -->
    <input type="checkbox" name="" id="open">
    <label for="open" class="sidebar-icon">
      <img src="assets\icons\ic.menu@2x.png" class="hamburger-icon">
    </label>

    <label for="open" class="sidebar-icon-close">
      <i class="fa-solid fa-xmark"></i>
    </label>
    <!-- BARRA LATERAL MENU BUTTONS -->
    <div class="sidebar">
      <ul class="menu-side">
        <li class="side-item"><a href="#">brand philosophy </a></li>
        <li class="side-item"><a href="#">product technology </a></li>
        <li class="side-item"><a href="#">all products</a></li>
        <li class="side-item"><a href="#">intibiome wellness </a></li>
        <li class="side-item"><a href="#">intibiome active </a></li>
        <li class="side-item"><a href="#">intibiome agecare </a></li>
        <li class="side-item"><a href="#">article 1 </a></li>
        <li class="side-item"><a href="#">article 2 </a></li>
        <li class="side-item"><a href="#">article 3 </a></li>
      </ul>
    </div>
    <!-- LOGOS DO BANNER DESKTOP E MOBILE -->
    <div class="logo1">
      <img src="assets\icons\Module1-Header970x60025.png" class="banner-logo">
    </div>

    <div class="logo2">
      <img src="assets\icons\ic.search.png" class="icsearch">
    </div>

  </section>
</header>
<!-- DROPDOWN HEADER OPTIONS -->
<section class="header-options">
  <ul id="nav-1" class="menu">

    <li class="menu-item">
      <a href="#">about us </a><i class="fas fa-angle-down"></i>
    </li>
    <ul class="sub-menu">
      <li class="sub-item"><a href="#">brand philosophy</a></li>
      <li class="sub-item"><a href="#">product technology</a></li>
    </ul>
    <li class="menu-item">
      <a href="#">our products </a><i class="fas fa-angle-down"></i>
    </li>
    <li class="menu-item"><a href="#">intimate health </a><i class="fas fa-angle-down"></i></li>
    <li class="menu-item"><a href="#">contact us </a></li>
  </ul>
</section>