<section class="container-cards">
  <!-- CARD -->
  <div class="cards">
    <img src="assets\icons\Blue-Pack@2x.png" class="card-img">

    <div class="card-text">
      <p class="font-card-text">intibiome wellness daily intimate wash</p>
    </div>

    <div class="footer-card">
      <span class="font-card-title">wellness</span>
    </div>
  </div>
  <!-- CARD -->
  <div class="cards">
    <img src="assets\icons\Green-Pack@2x.png" class="card-img">

    <div class="card-text">
      <p class="font-card-text">intibiome active extra protection intimate wash</p>
    </div>

    <div class="footer-card card-green">
      <span class="font-card-title">active</span>
    </div>
  </div>
  <!-- CARD -->
  <div class="cards">
    <img src="assets\icons\Pink-Pack@2x.png" class="card-img">

    <div class="card-text">
      <p class="font-card-text">intibiome agecare dryness relief intimate wash</p>
    </div>

    <div class="footer-card card-red">
      <span class="font-card-title">agecare</span>
    </div>
  </div>
</section>

<!-- CARDS MOBILE -->
<div class="slider">
  <!-- CARD -->
  <div class="slide">
    <div class="cards">
      <img src="assets\icons\Blue-Pack@2x.png" class="card-img">

      <div class="card-text">
        <p class="font-card-text">intibiome wellness daily intimate wash</p>
      </div>

      <div class="footer-card">
        <span class="font-card-title">wellness</span>
      </div>
    </div>

    <div class="slide">
      <!-- CARD -->
      <div class="cards">
        <img src="assets\icons\Green-Pack@2x.png" class="card-img">

        <div class="card-text">
          <p class="font-card-text">intibiome active extra protection intimate wash</p>
        </div>

        <div class="footer-card card-green">
          <span class="font-card-title">active</span>
        </div>
      </div>
    </div>

    <div class="slide">
      <!-- CARD -->
      <div class="cards">
        <img src="assets\icons\Pink-Pack@2x.png" class="card-img">

        <div class="card-text">
          <p class="font-card-text">intibiome agecare dryness relief intimate wash</p>
        </div>

        <div class="footer-card card-red">
          <span class="font-card-title">agecare</span>
        </div>
      </div>
    </div>
  </div>